.imageContainer {
    position: relative;
    /* Required for Next.js Image layout="fill" */
    width: 100%;
    /* Full width of the screen */
    height: 75vh;
    /* 75% of the viewport height */
    overflow: hidden;
    /* Ensures no overflow or scrollbars */
    margin: 0;
    /* Removes default margins */
    padding: 0;
    /* Removes default padding */
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.heroTitle {
    color: #0C7371;
}

.heroDesc {
    color: #587575;
    font-weight: bolder;
}

.popularTitle {
    width: 100%;
    text-align: center;
    margin-block: 50px;
    color: #2f2f2f;
}

#popular-dishes {
    margin-bottom: 100px;
}

.recipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 30px;
    row-gap: 35px;
}